html, body {
	width: 100%;
	height: 100%;
}

a {
	color: rgb(202,118,57);
	font-weight: 400;
}

body {
	margin: 0;
	padding: 0;
	background-image:
		linear-gradient(to bottom, rgba(0,0,0,.99), #021521, rgba(0,0,0,.8)),
		url('../img/bg.jpg');
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 300;
	overflow: hidden;
	text-shadow: 0px 0px 0 1 #000;
}

canvas.pattern {
	position: relative;
	z-index: 1;
}

canvas.flow,
canvas.agents {
	position: absolute;
	top: 0;
	left: 0;
}

canvas.flow {
	z-index: 2;
}

canvas.agents {
	z-index: 3;
}

.canvas-controls {
	position: fixed;
	width: 13em;
	top: 0;
	left: 10px;
	background: rgba(0,0,0,.3);
	height: 100%;
	padding: 1em;
	color: #ccc;
	z-index: 4;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.canvas-controls p {
	margin: .5em 0;
}

.canvas-controls h3 {
	border-bottom: solid 1px #333;
	padding-bottom: .2em;
}

.canvas-controls label {
	display: inline-block;
	width: 5em;
	margin-right: .2em;
}

.canvas-controls label.for-checkbox {
	width: auto;
}

.canvas-control[type=range] {
	width: 5em;
	font-size: 1em;
	margin-right: .5em;
}

.ribbon {
	z-index: 99;
	position: absolute;
	top: -10px;
	right: -10px;
}